/* ==========================================================================
   Ian Smirh
   ========================================================================== */

*{box-sizing: border-box}

.container2{
    border: 1px solid #000;
    background: #FF0;
    position: relative;
    margin: 50px auto;
}
.mainrow{
    width: 500px;
    height: 250px;
    margin: 30px auto;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}

.mainrow .slider{
    width: 2500px;
    height: 250px;
    position: absolute;
    transition: all 1s ease-in-out;
}
.mainrow .slider .box{
    float: left;
    width: 500px;
    height: 100%;
}

.mainrow .slider .box:first-child{background: red;}
.mainrow .slider .box:nth-child(2){background: green;}
.mainrow .slider .box:nth-child(3){background: blue;}
.mainrow .slider .box:nth-child(4){background: black;}
.mainrow .slider .box:nth-child(5){background: yellow;}

.mainrow .nav{
    position:absolute;
    top: 40%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 45px;
    color: #fff;
    background: rgba(36,33,32,0.4);
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-align: center;
    opacity: 0.5;
}

.next{right:0;}
.previous{left:0}
















